#benefits-page {
    background-color: #F7F7F7;
    width: 100%;

    .container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 105px;
        padding-bottom: 105px;
    }

    span::after {
        content: "";
        display: block;
        height: 4px;
        width: 0;
        transition: width 1s ease;
    }

    .box {
        height: 370px;
        background-color: white;
        margin: 20px 0;
        border: 1px solid $color-border;
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover span::after {
            width: 350px;
            transition: width 1s ease;
        }

        &:hover .macbook::after {
            transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
            transition: all 1s ease-in-out;
        }

        &:hover .iphone::after {
            border-radius: 42% 58% 63% 37% / 42% 36% 64% 58% ;
            transition: all 900ms ease-in-out;
        }
    }

    .iphone {
        position: relative;
        display: flex;
        padding-top: 20px;
        z-index: 999;
        left: 100px;   

        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }

        &::after {
            content: "";
            display: block;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: $color-blue;
            position: absolute;
            z-index: -1;
            left: -20px;
            bottom: 10px;
            transition: all 900ms ease-in-out;
        }
    }


    .macbook {
        position: relative;
        display: flex;
        padding-top: 20px;
        z-index: 999;
        right: 200px;

        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
        }

        &::after {
            content: "";
            display: block;
            width: 12em;
            height: 12em;
            border-radius: 41px;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            background-color: $color-red;
            position: absolute;
            right: -50px;
            z-index: -1;
            transition: all 900ms ease-in-out;
        }
    }

    .box-text {
        margin: 30px;
        width: 50%;

        h2 {
            @include h2();
            text-align: left;
        }

        p {
            @include paragraph();
            padding: 40px 0;
            line-height: 22px;
        }

        .line-red::after {
            background-color: $color-red;   
        }

        .line-blue::after {
            background-color: $color-blue;   
        }

        .line-green::after {
            background-color: $color-green;   
        }
    }

    .box-small {
        margin: 30px 40px 30px 0;
        width: calc(1352px - 540px - 40px);
        
        .box-text {
            flex-grow: 0.6;
        }
    }

    .box-container {
        width: 100%;
        display: flex;
        align-items: center;

        &:hover .picture {
            transform: rotate(-7deg);
            transition: transform 0.4s ease;
        }

        &:hover span::after {
            width: 350px;
            transition: width 1s ease;
        }
    }

    .picture {
        width: 540px;
        height: 370px;
        padding-top: 60px;
        background-color: #55DFB4;
        border: 1px solid $color-border;
        border-radius: 5px;
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s ease;

        img {
            max-width: 70%;
        }
    }
}

@media (max-width: 1200px) {
    #benefits-page {
        .macbook {
            right: 120px;
        }
    }
}

@media (max-width: 1080px) {
    #benefits-page {
        .box {
            height: 560px;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .diverse {
            flex-flow: column-reverse;
        }

        .box-text {
            margin: 0 10px;
            padding-top: 10px;
            width: 80%;
        }

        .macbook {
            right: 0;
    
            img {
                width: 250px;
                height: 250px;
                object-fit: contain;
            }

            &::after {
                width: 10em;
                height: 10em;
            }
        }

        .iphone {
            left: 20px;  
            width: 100%; 
    
            img {
                width: 250px;
                height: 250px;
                object-fit: contain;
            }
    
            &::after {
                width: 250px;
                height: 250px;
                bottom: 10px;
            }
        }

        .box-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .box-small {
            margin: 10px;
            width: 100%;
            height: auto;
        }

        .picture {
            width: 100%;
            height: 300px;
            padding-top: 70px;
    
            img {
                max-width: 50%;
            }
        }
    }
}

@media (max-width: 630px) {
    #benefits-page {
        .box {
            height: 600px;
        }

        .box-text {
            margin: 0 10px;
            padding-top: 10px;
            width: 80%;
        }

        .macbook {
            right: 20px;
    
            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }

            &::after {
                width: 8em;
                height: 8em;
            }
        }

        .iphone {
            left: 0;  
            width: 100%; 
    
            img {
                width: 180px;
                height: 180px;
                object-fit: contain;
            }
    
            &::after {
                width: 180px;
                height: 180px;
                bottom: 10px;
            }
        }

        .box-small {
            margin: 10px;
            width: 100%;
            height: auto;
        }

        .picture {
            padding-top: 50px;
    
            img {
                max-width: 70%;
            }
        }

        span::after {
            width: 50%;
            transition: none;
        }
    }
}