#statistics-page {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    h2 {
        @include h2();
        text-align: center;
        padding: 30px;
        margin-bottom: 80px;
    }
}

.statistics-details {
    display: flex;
    justify-content: space-around;

    .box {
        width: 176px;
        height: 167px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-align: center;
            font: ExtraBold 20px/24px 'Raleway', sans-serif;
            letter-spacing: 6px;
            color: #000000;
            padding: 20px;
        }

        p {
            text-align: center;
            font: Regular 17px/20px 'Raleway', sans-serif;
            letter-spacing: 0;
            color: #A5A5A5;
        }

        > div {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
        }

        .person {
            background-color: $color-red;
        }

        .eye {
            background-color: $color-blue;
        }

        .catalog {
            background-color: $color-green;
        }

        img {
            position: absolute;
            left: 30px;
            max-width: 100%;
        }
    }
}

@media (max-width: 600px) {
    #statistics-page h2 {
        margin-bottom: 50px;
    }
    
    .statistics-details {
        flex-direction: column;
        align-items: center;

        .box {
            margin: 20px;
        }
    }
}